<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{10}:%L - %msg%n" />
		</Console>

		<RollingFile name="file-log" fileName="./logs/digitalPictureFrame.log"
			filePattern="./logs/digitalPictureFrame-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{10}:%L - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>

	</Appenders>
	
	<Loggers>
		<Logger name="com.github.rdrenner" level="debug" >
			<appender-ref ref="file-log" level="debug" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>